// Place all the styles related to the tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#setCanvas {
  height: 600px;
  width: 100%;
  border: 0.5px;
  position: relative;
}

.point {
  margin-left: -75px;
  margin-top: -75px;
  height: 150px;
  width: 150px;
  background: url(table_1.png) no-repeat;
  background-size: cover;
  position: absolute;
}

.point input {
  margin-left: 9px;
  width: 130px;
  margin-top: 55px;
}