<div class="row">
    <div class="col-md-4 col-md-push-7">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>Редактор меню</h3>
            </div>
            <div class="panel-body">
                <p>В данном разделе Вы можете редактировать меню Вашего заведения. </p>
                <p>Правила составления меню:</p>
                <ol>
                    <li>Название категории должно быть уникальным.</li>
                    <li>Поле названия категории не может быть пустным.</li>
                    <li>Название товара должно быть уникальным.</li>
                    <li>Поле названия товара не может быть пустым.</li>
                    <li>Цена товара не может быть меньше 0.</li>
                    <li>Поле цены товара не может быть пустым.</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="col-md-7 col-md-pull-4">
        <div class="panel panel-info col-md-offset-1 col-md-10">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-6 col-sm-3 control-label">Добавление новой категории: </label>
                        <div class="col-md-6 col-sm-9">
                            <input type="text" class="form-control" ng-model="categoryName" placeholder="Название категории">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="button" class="btn btn-primary wide" value="Добавить категорию" ng-click="addCategory(categoryName)">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="category in categories">
                        <h3>
                            {{category.name}}
                            <button type="button" class="pull-right btn btn-default" ng-click="removeCategory(category)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </h3>

                        <div class="">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="product in category.products">
                                    {{product.name}} - {{product.price | afterCurrency:money.value}}
                                    <button type="button" class="btn btn-default badge" ng-click="removeProduct(category, product)">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 control-label">Новый продукт: </label>
                                <div class="col-md-3 col-sm-3">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="category.foodName"
                                           placeholder="Название">
                                </div>
                                <div class="col-md-3 col-sm-3">
                                <input type="number"
                                       class="form-control"
                                       ng-model="category.foodPrice"
                                       placeholder="Цена">
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <input type="button" class="btn btn-primary" value="Добавить" ng-click="addProduct(category)">
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>