<div class="row">
    <div class="col-md-8">
        <div class="panel panel-info col-md-offset-1 col-md-10">
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label>Добавление новой категории: </label>
                        <input type="text" class="form-control" ng-model="categoryName" placeholder="Название категории">
                        <input type="button" class="btn btn-primary" value="Добавить категорию" ng-click="addCategory(categoryName)">
                    </div>
                </form>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="category in categories">
                        <h3>
                            {{category.name}}
                            <button type="button" class="pull-right btn btn-default" ng-click="removeCategory(category)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </h3>

                        <div class="">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="product in category.products">
                                    {{product.name}} - {{product.price}}
                                </li>
                            </ul>
                        </div>
                        <form class="form-inline">
                            <div class="form-group">
                                <label>Новый продукт в этой категории: </label>
                                <input type="text"
                                       class="form-control"
                                       ng-model="category.foodName"
                                       placeholder="Название">

                                <input type="number"
                                       class="form-control"
                                       ng-model="category.foodPrice"
                                       placeholder="Цена"
                                       style="width: 100px;">

                                <input type="button" class="btn btn-primary" value="Добавить" ng-click="addProduct(category)">
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">

    </div>
</div>