<div class="row">
    <div class="col-md-4 col-md-push-7">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>Меню заказов</h3>
            </div>
            <div class="panel-body">
                <p>В данном разделе Вы можете добавлять и удалять заказы. </p>
                <p>
                    Создав заказ вы попадёте на страницу заказа, где сразу же сможете его оформить.
                    Здесь же вы можете отметить заказ как выполненный, либо удалить существующие заказы.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-7 col-md-pull-4">
        <div class="panel panel-info col-md-offset-1 col-md-10">
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="button" class="btn btn-primary wide" value="Создать новый заказ" ng-click="addOrder()">
                        </div>
                    </div>
                </form>
            </div>

            <ul class="list-group">
                <li ng-repeat="order in orders" class="list-group-item">
                    <abbr title="Статус заказа"><input type="checkbox" ng-model="order.status" ng-click="changeStatus(order)"></abbr>
                    <a href="#/orders/{{order.id}}">Заказ от {{order.created_at|date:'HH:mm:ss, dd.MM.yyyy'}}</a>
                    <span class="text-right"> | Сумма заказа: {{order.price | afterCurrency:money.value}}</span>
                    <button type="button" class="btn btn-default badge" ng-click="removeOrder(order)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <div ng-if="order.note != ''">Примечание к заказу: {{order.note}}</div>

                </li>
            </ul>
        </div>
    </div>
</div>

