<div class="row">
    <div class="col-md-4 col-md-push-7">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>Меню заказа №{{order.id}}</h3>
            </div>
            <div class="panel-body">
                <p>Заказ от {{order.created_at|date:'HH:mm:ss, dd.MM.yyyy'}} </p>
                <p>
                    Здесь вы можете создать заказ выбирая продукты из соответствующих категорий.
                    Также вы можете изменить параметры, такие как статус или примечание к заказу.
                </p>

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <abbr class="col-md-2 col-xs-2 col-sm-2"><input type="checkbox" class="form-control" ng-model="order.status"></abbr>
                        <div class="col-md-10 col-xs-10 col-sm-10" style="margin-top: 3px;">
                            <input type="text" class="form-control" placeholder="Примечание к заказу" ng-model="order.note">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="button" class="btn btn-primary wide" value="Применить изменения" ng-click="changeOrder()">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-7 col-md-pull-4">
        <div class="panel panel-info col-md-offset-1 col-md-10">
            <div ng-if="order.line_items.length > 0">
                <h3>Товары в заказе: </h3>
                <table class="table">
                    <thead>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Кол-во</th>
                        <th>Сумма</th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="line_item in order.line_items">
                            <td>
                                {{line_item.name}}
                            </td>
                            <td>
                                {{line_item.price | afterCurrency:money.value}}
                            </td>
                            <td>
                                {{line_item.count}}
                            </td>
                            <td>
                                {{(line_item.price * line_item.count) | afterCurrency:money.value}}
                            </td>
                            <td>
                            <span class="btn btn-default" ng-click="decreaseCount(line_item)">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </span>
                            <span class="btn btn-default" ng-click="increaseCount(line_item)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4 class="text-right">Всего к оплате: {{order.price | afterCurrency:money.value}}</h4>
            </div>

            <div ng-if="order.line_items.length == 0">
                <h3>Товаров в заказе пока нет. </h3>
            </div>

            <div class="panel-body">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div ng-repeat="category in categories" class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading-{{category.id}}">
                            <h4 class="panel-title">
                                {{category.name}}
                            </h4>
                        </div>
                        <div id="collapse-{{category.id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <ul class="list-group">
                                <button type="button" class="list-group-item" ng-repeat="product in category.products" ng-click="addLineItem(product)">
                                    <span>
                                        {{product.name}} - {{product.price | afterCurrency:money.value}}
                                    </span>
                                </button>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

