<div class="row">
    <div class="col-md-4 col-md-push-7">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>Редактор списка комнат</h3>
            </div>
            <div class="panel-body">
                <p>В данном разделе Вы можете добавлять и удалять комнаты. </p>
                <p>Правила, связанные с комнатами:</p>
                <ol>
                    <li>Название комнаты должно быть уникальным.</li>
                    <li>Поле названия комнаты не может быть пустным.</li>
                </ol>
                <p>
                    Для того, чтобы отредактировать комнату, в том числе название и
                    расстановку столиков, просто нажмите на ссылку соответствущей комнаты.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-7 col-md-pull-4">
        <div class="panel panel-info col-md-offset-1 col-md-10">
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-5 col-sm-3 control-label">Название новой комнаты: </label>
                        <div class="col-md-7 col-sm-9">
                            <input type="text" class="form-control" ng-model="newRoomName" placeholder="Имя комнаты">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="button" class="btn btn-primary wide" value="Добавить комнату" ng-click="addRoom()">
                        </div>
                    </div>
                </form>
            </div>

            <ul class="list-group">
                <li ng-repeat="room in rooms" class="list-group-item">
                    <a href="#/show_room/{{room.id}}">{{room.name}}</a>
                    <button type="button" class="btn btn-default badge" ng-click="removeRoom(room)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <a class="btn btn-default badge" href="#/tables/{{room.id}}">
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

